body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    
    background-image: url(../assets/menu.png.webp);
    background-repeat: no-repeat;
    background-position: right;
    background-size:contain;
    height: 500px;
}

#menu{
    background-image: url(../assets/logo.png);
    height: 400px;
    background-repeat: no-repeat;
    background-size: 300px;
    margin-left: 30px;
}

#containermenu{
    list-style: none;
    float: right;
    margin-right: 600px;   
    font-size: 25px;
    color: rgb(177, 177, 10) ;
    margin-top: 40px;
}

.listitens{
    float: left;
    padding: 20px;
}

#titulo{
    position: absolute;
    left: 100px;
    top: 260px;
    font-size: 20px;
    
}

.phraseunder{
    color: rgb(124, 120, 120);
}

#mvv{
    margin-top: 200px;
    height: 1000px;
 
}

#linhas{
    background-image: url(../assets/maranhao.webp);
    background-position: right;
    height: 800px;
    background-repeat: no-repeat;
}

.titulosmvv{
    color: rgb(112, 11, 112);
    font-size: 25px;
}

#titulomvv1{
    position: absolute;
    top: 700px;
    left: 300px;
    
}

#titulomvv2{
    height: 200px;
    width: 200px;
    position: absolute;
    top: 850px;
    left: 200px;
    text-align: center;
    
}

#titulomvv3{
    height: 200px;
    width: 200px;
    position: absolute;
    top: 1100px;
    left: 500px;
    text-align: center;
    
}

#titulomvv4{
    height: 200px;
    width: 240px;
    position: absolute;
    top: 1400px;
    left: 200px;
    text-align: center;
    
}


#tituloserviço{
    background-color: rgb(179, 179, 179);
    height: 180px;
    width: 100%;
    font-size: 30px;
    margin:auto;
    color:rgb(112, 11, 112) ;
    text-align: center;
    line-height: 180px;
}

.todosserviços{
    height: 500px;
    width: 320px;
    text-align: center;
    float: left;
    padding: 100px 30px 50px 30px;
    box-sizing: border-box;
    position: relative;
}

.serviço1e3{
    background-color: rgb(112, 11, 112);
    color: white;
}

.butoesserviços{
    height: 38px;
    width: 180px;
    border-radius: 25px;
    position: absolute;
    top: 400px;
    left: 75px;
    background-color: rgb(112, 11, 112);;   
    color: white;
}
.butoes1e3{
    background-color: white;
    color: black;   
}



.carrosel{
    box-sizing: border-box;
    width: 220px;
    height: 100px;
    margin: 600px auto;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
    overflow: hidden;    
    clear: left;
}

.carrosel,ul{
    list-style: none;
    height: 120px;
    width: 220px;
    display: flex;
    
}

.carrosel li{
    position: relative;
    animation-name: slide;
    animation-duration:  15s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    
}

@keyframes slide{
    0% {left:0px}
    20% {left: 0px;}
    
    30% {left:-220px}
    50% {left:-220px;}

    60% {left:-440px;}
    90% {left:-440px;}

    100% {left: 0px;}
}

#rodape{
    position: relative;
    height: 500px;
    background-image: url(../assets/rodape.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

#direitos{
    text-align: center;
    position: absolute;
    top: 450px;
    left: 600px;
    color: white;

}